@charset "UTF-8";

/* 課題04のCSS
========================================================================== */
a {
    text-decoration: none;
    color: #000;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li a {
    color: #fff;
    padding: 2rem 1rem;
    display: block;
}

img {
    width: 100%;
}

.container {
    padding: 0 2rem;
}

.head {
    display: flex;
    flex-direction: row;
}

.head h1 {
    padding: 1rem 0 0 0;
}

.PhoneNumber {
    margin-left: auto;
    font-size: 30px;
    padding: 2.5rem 0 0 0;
}

.menu {
    background-color: #003399;
}